<h1>
    About Cloud wars</h1>
<h3>Brief history of the game</h3>
<p>The first version of the game was develped in less than three weeks of free time for a local(México) Microsoft contest that I won, I don't remember the details of the contest, but
    the basic idea was to develop an application that use Windows Azure, more than a year have passed since that contest and I decided to update the game and use some of the nuget packages that
    I have published.
    <br />
    The original game was developed with ASP.Net MVC 3, SignalR and a primitive version of the Needletail.DataAccess nuget package.
</p>
<h4>Not perfect</h4>
<p>Since I wrote and rewrote this in a small period of time I know that there are many things that can be improved and I plan to release fixes and improvements to the code.</p>

<h5>Does not work on</h5>
<p>The game, and the Needletail.MVC library does not work on Internet Explorer because any of the versions of that browser supports SSE, also, if you run this game from Visual Studio, do not use IIS Express since SSE is not very well implemented.</p>

<h3>Open source</h3>
<p>This game is open source released under a <a href="http://opensource.org/licenses/mit-license.php" target="_blank" >MIT</a>   license, basically this means that you can:</p>
<ul>
    <li>This software can be used for commercial purposes in derivative works</li>
    <li>This software can be modified.</li>
    <li>The software may be distributed.</li>
    <li>This software allows you to give partial production/distribution rights to third parties not included in the license.</li>
</ul>
<p>Also means that you cannot:</p>
<ul>
    <li>Software is released without warranty and the software/license owner cannot be charged for damages.</li>    
</ul>
<p>Finally, you must</p>
<ul>
    <li>You must retain the original copyright notice.</li>
</ul>

<h3>Want to contribute?</h3>
<p>If you want to contribute to this project or any of the Needletail tools just send me an email</p>
<h3>Contact</h3>
<p>Author: Pedro Ramírez. email : <a href="mailto:pramirez@sciodev.com">pramirez@sciodev.com</a></p>

<p><a class="btn btn-default mt10"  href="javascript:void(0)" onclick="loadUrlPost('@Url.Action("Inicio","Home")')">Back &laquo;</a></p>